<div class="form-horizontal">

    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h4 id="typography">Estatistica</h4>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Filtro</div>
        <div class="panel-body">

            <div class="row">

                <div class="form-group col-lg-4">
                    <label class="control-label col-md-2" for="txtOrigem">Ano</label>
                    <div class="col-md-10">
                        <select class="inputFiltro">
                            <option>2017</option>
                        </select>
                        Até
                        <select class="inputFiltro">
                            <option>2018</option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-lg-4">
                    <label class="control-label col-md-2" for="txtOrigem">Mês</label>
                    <div class="col-md-10">
                        <select class="inputFiltro">
                            <option value="1">Janeiro</option>
                            <option value="2">Fevereiro</option>
                            <option value="3">Março</option>
                            <option value="4">Abril</option>
                            <option value="5">Maio</option>
                            <option value="6">Junho</option>
                            <option value="7">Julho</option>
                            <option value="8">Agosto</option>
                            <option value="9">Setembro</option>
                            <option value="10">Outubro</option>
                            <option value="11">Novembro</option>
                            <option value="12">Dezembro</option>
                        </select>
                        Até
                        <select class="inputFiltro">
                            <option value="1">Janeiro</option>
                            <option value="2">Fevereiro</option>
                            <option value="3">Março</option>
                            <option value="4">Abril</option>
                            <option value="5">Maio</option>
                            <option value="6">Junho</option>
                            <option value="7">Julho</option>
                            <option value="8">Agosto</option>
                            <option value="9">Setembro</option>
                            <option value="10">Outubro</option>
                            <option value="11">Novembro</option>
                            <option value="12">Dezembro</option>
                        </select>
                    </div>
                </div>

                <div class="form-group col-lg-4">
                    <label class="control-label col-md-2" for="txtOrigem">Colaboradores</label>
                    <div class="col-md-10">
                        <select style="min-width: 220px;">
                            <option>Jão Silva neto</option>
                        </select>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<!--<canvas id="myChart" width="400" height="400"></canvas>

<script>
    var ctx = document.getElementById("myChart").getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
            datasets: [{
                label: '# of Votes',
                data: [12, 19, 3, 5, 2, 3],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    </script>-->