<a class="btn btn-default" href="{{menuSolicitarViagem}}">Solicitar Viagem</a>

<br/><br/>

<ul class="nav nav-tabs">
    <li class="active"><a href="javascript:void(0);" data-toggle="tab" data-target="#viagem">Solicitação de Viagem</a></li>
    <li><a href="javascript:void(0);" data-toggle="tab" data-target="#conta">Prestação de Contas</a></li>
</ul>
<div id="myTabContent" class="tab-content">

    <div class="tab-pane fade active in" id="viagem">

        <div class="table-responsive">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Origem</th>
                        <th>Destino</th>
                        <th>Data Ida</th>
                        <th>Data Volta</th>
                        <th>Status</th>
                        <th>
                            Ação
                            <button class="btn btn-info btn-sm" style="float:right;" data-toggle="tooltip" title="Atualizar">
                                <i class="fa fa-refresh" aria-hidden="true"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr ng-show="(solicitacoesViagem | filter:{status: '!3'}).length == 0">
                        <td colspan="7" style="text-align: center;">
                            Nenhuma solicitação de viagem cadastrada.
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="item in solicitacoesViagem | filter:{status: '!3'}">
                        <td ng-bind="item.id"></td>
                        <td ng-bind="item.origem"></td>
                        <td ng-bind="item.destino"></td>
                        <td ng-bind="item.dataIda"></td>
                        <td ng-bind="item.dataVolta"></td>
                        <td ng-bind="recupearDescricaoStatus(item.status)"></td>
                        <td>
                            <button ng-if="item.status == 0" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Editar" ng-click="abrirSolicitacao(item.id)">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button ng-if="item.status == 0" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Excluir" ng-click="removerItem(item.id)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                            <button ng-if="item.status != 0" class="btn btn-default btn-sm" data-toggle="tooltip" title="Visualizar" ng-click="abrirSolicitacao(item.id)">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="tab-pane fade" id="conta">
        <div class="table-responsive">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Origem</th>
                        <th>Destino</th>
                        <th>Data Ida</th>
                        <th>Data Volta</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr ng-show="(solicitacoesViagem | filter:{status:3}).length == 0">
                        <td colspan="6" style="text-align: center;">
                            Nenhuma solicitação de viagem aguardando prestação de contas.
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="item in solicitacoesViagem | filter:{status:3}">
                        <td ng-bind="item.id"></td>
                        <td ng-bind="item.origem"></td>
                        <td ng-bind="item.destino"></td>
                        <td ng-bind="item.dataIda"></td>
                        <td ng-bind="item.dataVolta"></td>
                        <td>
                            <button class="btn btn-primary btn-sm" data-toggle="tooltip" title="Prestar Conta" ng-click="abrirSolicitacao(item.id)">
                                <i class="fa fa-gavel" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        (Status: Em Aberto Prestação de Contas)

    </div>
</div>

<!-- MODAL REMOVER -->
<div id="modalRemover" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Remover item</h4>
            </div>
            <div class="modal-body">

                Você tem certeza que deseja remover o item ""? Esta ação não poderá ser desfeita.

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger">Remover</button>
            </div>
        </div>
    </div>
</div>