<button class="btn btn-default" ng-if="!PerfilGestor" ng-click="LimparSolicitacao(null); AbrirSolicitacao(Solicitacao);">Solicitar Viagem</button>

<br/><br/>

<ul class="nav nav-tabs">
    <li class="active"><a href="javascript:void(0);" data-toggle="tab" data-target="#viagem">Solicitação de Viagem</a></li>
    <li><a href="javascript:void(0);" data-toggle="tab" data-target="#conta">Prestação de Contas</a></li>
</ul>
<div id="myTabContent" class="tab-content">

    <div class="tab-pane fade active in" id="viagem">
        <div class="table-responsive">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Origem</th>
                        <th>Destino</th>
                        <th>Data Ida</th>
                        <th>Data Volta</th>
                        <th>Status</th>
                        <th>
                            Ação
                            <button class="btn btn-info btn-sm" style="float:right;" data-toggle="tooltip" title="Atualizar">
                                <i class="fa fa-refresh" aria-hidden="true" ng-click="BuscarSolicitacoes()"></i>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr ng-show="(ListaSolicitacoes | filter:{Status: '!3'}).length == 0">
                        <td colspan="7" style="text-align: center;">
                            Nenhuma solicitação de viagem cadastrada.
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="item in ListaSolicitacoes | filter:{Status: '!3'}">
                        <td ng-bind="item.Id"></td>
                        <td ng-bind="item.CidadeOrigem + '-' + item.UfOrigem"></td>
                        <td ng-bind="item.CidadeDestino + '-' + item.UfDestino"></td>
                        <td ng-bind="item.DataIda | date: 'dd/MM/yyyy'"></td>
                        <td ng-bind="item.DataVolta | date: 'dd/MM/yyyy'"></td>
                        <td ng-bind="recupearDescricaoStatus(item.Status)"></td>
                        <td>
                            <!-- Colaborador -->
                            <button ng-if="item.Status == 0 && !PerfilGestor" class="btn btn-primary btn-sm" data-toggle="tooltip" title="Editar" ng-click="LimparSolicitacao(item); AbrirSolicitacao(Solicitacao);">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </button>
                            <button ng-if="item.Status == 0 && !PerfilGestor" class="btn btn-danger btn-sm" data-toggle="tooltip" title="Excluir" ng-click="removerSolicitacao(item)">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>

                            <!-- Gestr -->
                            <button ng-if="(item.Status == 1 || item.Status == 4) && PerfilGestor" class="btn btn-success btn-sm" data-toggle="tooltip"
                                title="Aprovar" ng-click="LimparSolicitacao(item); aprovarSolicitacaoViagem()">
                                <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            </button>
                            <button ng-if="(item.Status == 1 || item.Status == 4) && PerfilGestor" class="btn btn-danger btn-sm" data-toggle="tooltip"
                                title="Reprovar" ng-click="LimparSolicitacao(item); reprovarSolicitacaoViagem()">
                                <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                            </button>

                            <!-- Todos -->
                            <button class="btn btn-default btn-sm" data-toggle="tooltip" title="Visualizar" ng-click="AbrirSolicitacao(item)">
                                <i class="fa fa-eye" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="tab-pane fade" id="conta">
        <div class="table-responsive">
            <table class="table table-striped table-hover ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Origem</th>
                        <th>Destino</th>
                        <th>Data Ida</th>
                        <th>Data Volta</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr ng-show="(ListaSolicitacoes | filter:{Status:3}).length == 0">
                        <td colspan="6" style="text-align: center;">
                            Nenhuma solicitação de viagem aguardando prestação de contas.
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr ng-repeat="item in ListaSolicitacoes | filter:{Status:3}">
                        <td ng-bind="item.Id"></td>
                        <td ng-bind="item.CidadeOrigem"></td>
                        <td ng-bind="item.CidadeDestino"></td>
                        <td ng-bind="item.DataIda | date: 'dd/MM/yyyy'"></td>
                        <td ng-bind="item.DataVolta | date: 'dd/MM/yyyy'"></td>
                        <td>
                            <button class="btn btn-primary btn-sm" data-toggle="tooltip" title="Prestar Conta" ng-click="abrirSolicitacao(item)">
                                <i class="fa fa-gavel" aria-hidden="true"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

<!-- MODAL REMOVER -->
<div id="modalRemover" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Remover item</h4>
            </div>
            <div class="modal-body">

                Você tem certeza que deseja esta solicitação de viagem? Esta ação não poderá ser desfeita.

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" ng-click="confirmarRemoverSolicitacao()">Remover</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL REPROVAR -->
<div id="modalReprovar" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Reprovar</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label class="control-label" for="txtMotivo">Digite o motivo da reprovação:</label>
                    <textarea class="form-control" style="min-width: 100%; height: 100px;" rows="5" ng-model="Solicitacao.Justificativa" id="txtMotivo"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" ng-click="confirmarReprovarSolicitacaoViagem()">Reprovar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL Aprovar -->
<div id="modalAprovar" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Aprovar</h4>
                </div>
                <div class="modal-body">
                        
                Você tem certeza que deseja aprovar esta solicitação de viagem? Esta ação não poderá ser desfeita.
                        
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" ng-click="confirmarAprovarSolicitacaoViagem()">Aprovar</button>
                </div>
            </div>
        </div>
    </div>