<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="well bs-component">
            <form action="#" class="form-horizontal" ng-keypress="RealizarLogin(login, $event)">
                <fieldset>
                    <legend>Entrar</legend>
                    <div class="form-group">
                        <label for="txtEmail" class="col-lg-2 control-label">E-mail</label>
                        <div class="col-lg-10">
                            <input type="email" class="form-control" id="txtEmail" placeholder="Email" ng-model="login.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtSenha" class="col-lg-2 control-label">Senha</label>
                        <div class="col-lg-10">
                            <input type="password" class="form-control" id="txtSenha" placeholder="Senha" ng-model="login.senha">
                            <div class="checkbox">
                                <label>
                        <input type="checkbox" ng-model="login.lembrar"> Lembrar de mim
                      </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <button type="button" class="btn btn-primary" ng-click="RealizarLogin(login, $event)">Entrar</button>
                            <button type="button" class="btn btn-default" ng-click="LimparLogin(true)">Limpar</button>                            
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
Email: admin@admin <br/><br/>
Senha: <br/>Colaborador= colab <br/> Administrador= admin <br/> Gestor= gestor