<button class="btn btn-default" ng-click="LimparUsuario(); AlterarItem(Usuario);">Novo</button>

<br/><br/>

<div class="table-responsive">
    <table class="table table-striped table-hover ">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Perfil</th>
                <th>Setor</th>
                <th>
                    Ação
                    <button class="btn btn-info btn-sm" style="float:right;" data-toggle="tooltip" title="Atualizar" ng-click="BuscarUsuarios()">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                    </button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in ListaUsuarios">
                <td ng-bind="item.Nome"></td>
                <td ng-bind="item.Perfil"></td>
                <td ng-bind="item.Setor"></td>
                <td>
                    <button class="btn btn-primary btn-sm" data-toggle="tooltip" title="Editar" ng-click="AlterarItem(item)">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-danger btn-sm" data-toggle="tooltip" title="Excluir" ng-if="item.PodeRemover" ng-click="RemoverItem(item)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- MODAL ADICIONAR/ALTERAR -->
<div id="modalNovo" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Usuário</h4>
            </div>
            <div class="modal-body">

                <table class="tabelaAdicionar col-lg-5 col-lg-offset-1">
                    <tbody>
                        <tr>
                            <td class="col-lg-3">
                                <label class="control-label" for="txtNome">Nome</label>
                            </td>
                            <td>
                                <input class="form-control" id="txtNome" type="text" value="" ng-model="Usuario.Nome">
                            </td>
                        </tr>
                        <tr>
                            <td class="col-lg-3">
                                <label for="cmbPerfil" class="control-label">Perfil</label>
                            </td>
                            <td>
                                <select class="form-control" id="cmbPerfil" ng-model="Usuario.Perfil">
                                    <option ng-value="'COLABORADOR'">Colaborador</option>
                                    <option ng-value="'GESTOR'">Gestor</option>
                                    <option ng-value="'ADMINISTRADOR'">Administrador</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-lg-3">
                                <label class="control-label" for="txtEmail">Email</label>
                            </td>
                            <td>
                                <input class="form-control" id="txtEmail" type="text" value="" ng-model="Usuario.Email">
                            </td>
                        </tr>

                        <tr>
                            <td class="col-lg-3">
                                <label class="control-label" for="txtSenha">Senha</label>
                            </td>
                            <td>
                                <input class="form-control" id="txtSenha" type="text" value="" ng-model="Usuario.Senha">
                            </td>
                        </tr>

                        <tr>
                            <td class="col-lg-3">
                                <label for="cmbSetor" class="control-label">Setor</label>
                            </td>
                            <td>
                                <div class="col-lg-7" style="padding: 0;padding-right: 10px;">
                                    <select class="form-control" id="cmbSetor" ng-model="Usuario.IdSetor">
                                        <option ng-repeat="item in Setores" ng-value="item.Id" ng-bind="item.Nome"></option>
                                    </select>
                                </div>
                                <div class="col-lg-2" style="line-height: 35px;padding: 0;">
                                    <button class="btn btn-info btn-sm" data-toggle="tooltip" title="Atualizar Setores" ng-click="BuscarSetores()">
                                        <i class="fa fa-refresh" aria-hidden="true"></i>
                                    </button>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="SalvarUsuario(Usuario)">Salvar</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL REMOVER -->
<div id="modalRemover" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Remover usuário</h4>
            </div>
            <div class="modal-body">

                Você tem certeza que deseja remover o usuário '{{Usuario.Nome}}'? Esta ação não poderá ser desfeita.

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" ng-click="ConfirmarRemover(Usuario.Id)">Remover</button>
            </div>
        </div>
    </div>
</div>